.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
}

.header__link:hover {
  opacity: 0.6;
  -webkit-transition: opacity linear;
  -o-transition: opacity linear;
  transition: opacity linear;
}
