.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
}

/* я всю голову сломала как сделать чтоб треугольник не обрезался соседними секциями)) подскажите решение проблемы пожалуйста */
